* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: none;
}

.display-array {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 500px;
  width: 800px;
}

.box {
  width: 1fr;
  height: 1fr;
  border: 1px solid #000;
  font-size: 120px;
}
.winner-screen {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.1);
}

.winner-screen h1 {
  font-size: 120px;
  text-align: center;
  margin-top: 20px;
}

.winner-screen h2 {
  font-size: 100px;
  text-align: center;
  margin-top: 20px;
}
