* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4b8dff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

main {
  height: 70%;
  width: 40%;
  padding: 30px;
  background-color: #407de6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: #ffff;
  font-weight: 100;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
}

form {
  height: 30px;
  display: flex;
  gap: 20px;
}

form > input {
  border-radius: 10px;
  padding: 12px;
}

form * {
  height: 100%;
}

button {
  outline: none;
  cursor: pointer;
  display: inline-block;
  width: 60px;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #222222;
  transition: 0.3s ease 0s;
  background: #fff;
  color: #222222;
}

button:hover {
  border-color: #000000;
  background: rgb(194, 192, 192);
}

h1 {
  font-size: 3rem;
}

.weatherDisplay {
  display: none;
  letter-spacing: 0.2rem;
}

.contentContainer {
  display: flex;
  align-items: center;
}
